{% extends "main/wrapper.html" %}

{% block content %}
    {% load static %}
       
    <section id="account">  
    	<div class="container">
        	<h4 class="breadcrumbs">Главная /</h4>
            <h2 class="title">личный кабинет</h2>
            
            <div class="acc_block">
            	<div class="acc_settings">
                	<ul>
                    	<li><a class="product-ico" href="#">Приобретенные продукты</a></li>
                        <li><a href="#" class="license-ico">Управление лицензиями</a></li>
                        <li><a href="#" class="settings-ico">Настройки аккаунта</a></li>
                    </ul>
                </div>
                <div class="acc_list">
                	<table class="acc_table" width="100%" border="1" cellspacing="0" cellpadding="0">
                      <tr>
                        <th><a href="#" class="sort_up">Дата покупки</a></th>
                        <th><a href="#">Название</a></th>
                        <th><a href="#">Цена</a></th>
                      </tr>
                      <tr>
                        <td><span class="calendar">20.12.2015</span></td>
                        <td><span class="name">vifort.ru</span></td>
                        <td><span class="sell_price">16 000</span></td>
                      </tr>
                      <tr>
                        <td><span class="calendar">20.12.2015</span></td>
                        <td><span class="name">vifort.ru</span></td>
                        <td><span class="sell_price">16 000</span></td>
                      </tr>
                      <tr>
                        <td><span class="calendar">20.12.2015</span></td>
                        <td><span class="name">vifort.ru</span></td>
                        <td><span class="sell_price">16 000</span></td>
                      </tr>
                      <tr>
                        <td><span class="calendar">20.12.2015</span></td>
                        <td><span class="name">vifort.ru</span></td>
                        <td><span class="sell_price">16 000</span></td>
                      </tr>
                      <tr>
                        <td><span class="calendar">20.12.2015</span></td>
                        <td><span class="name">vifort.ru</span></td>
                        <td><span class="sell_price">16 000</span></td>
                      </tr>
                      <tr>
                        <td><span class="calendar">20.12.2015</span></td>
                        <td><span class="name">vifort.ru</span></td>
                        <td><span class="sell_price">16 000</span></td>
                      </tr>
                      <tr>
                        <td><span class="calendar">20.12.2015</span></td>
                        <td><span class="name">vifort.ru</span></td>
                        <td><span class="sell_price">16 000</span></td>
                      </tr>
                      <tr>
                        <td><span class="calendar">20.12.2015</span></td>
                        <td><span class="name">vifort.ru</span></td>
                        <td><span class="sell_price">16 000</span></td>
                      </tr>
                      <tr>
                        <td><span class="calendar">20.12.2015</span></td>
                        <td><span class="name">vifort.ru</span></td>
                        <td><span class="sell_price">16 000</span></td>
                      </tr>
                      <tr>
                        <td><span class="calendar">20.12.2015</span></td>
                        <td><span class="name">vifort.ru</span></td>
                        <td><span class="sell_price">16 000</span></td>
                      </tr>
                      <tr>
                        <td><span class="calendar">20.12.2015</span></td>
                        <td><span class="name">vifort.ru</span></td>
                        <td><span class="sell_price">16 000</span></td>
                      </tr>
                    </table>
                    
                    <div class="pagination">
                    	<a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#" class="next_page">след.</a>
                    </div>

                </div>
            </div>  
            
        </div>
    </section>
    
    
 {% endblock %}