{% extends "main/wrapper.html" %}
{% load slider_tags %}
{% load static %}

{% block content %}
    {% load static %}
        <nav>
            <div class="container">
                {% load static %}
                <h1 class="logo"><a href="/"></a></h1>
                <ul class="menu">
                    <li class="mon"><a href="/monitoring">Мониторинги</a></li>
                    <li class="boost"><a href="/boost">Буст</a></li>
                    <li class="server"><a href="/masterserver">МастерСервер</a></li>
                    <li class="build"><a href="/">Сборки</a></li>
                    <li class="download"><a href="/">Сайт скачки</a></li>
                </ul>
            </div>
        </nav>

        <!-- блок слайдер, воткни, куда хочешь -->
        {% block_slider %}
        <!-- блок слайдер, воткни, куда хочешь -->

        <section id="products">
            <div class="container">
                <h2 class="title">Продукты</h2>
                <ul class="list_products">
                    <li class="prod_mon"><img class="icon" src="{% static "img/prod_mon-ico.png" %}"/><strong>Мониторинги</strong><img src="{% static "img/p_img1.png" %}" alt=""/><span>Игровые проекты разных направлений и тематик: CS, Rust, MineCraft....</span><a href="#" class="btn-more">Подробнее</a></li>
                    <li class="prod_boost"><img class="icon" src="{% static "img/prod_boost-ico.png" %}" /><strong>Буст</strong><img src="{% static "img/p_img2.png" %}" alt=""/><span>Игровые проекты разных направлений и тематик: CS, Rust, MineCraft....</span><a href="#" class="btn-more">Подробнее</a></li>
                    <li class="prod_server"><img class="icon" src="{% static "img/prod_server-ico.png" %}"/><strong>Мастер сервер</strong><img src="{% static "img/p_img3.png" %}" alt=""/><span>Игровые проекты разных направлений и тематик: CS, Rust, MineCraft....</span><a href="#" class="btn-more">Подробнее</a></li>
                    <li class="prod_build"><img class="icon" src="{% static "img/prod_build-ico.png" %}" /><strong>Сборки</strong><img src="{% static "img/p_img4.png" %}" alt=""/><span>Игровые проекты разных направлений и тематик: CS, Rust, MineCraft....</span><a href="#" class="btn-more">Подробнее</a></li>
                    <li class="prod_download"><img class="icon" src="{% static "img/prod_download-ico.png" %}" /><strong>Сайт скачки</strong><img src="{% static "img/p_img5.png" %}" alt=""/><span>Игровые проекты разных направлений и тематик: CS, Rust, MineCraft....</span><a href="#" class="btn-more">Подробнее</a></li>
                </ul>
            </div>
        </section>

        <section id="portfolio">
                <h2 class="title">портфолио</h2>
                <div class="wrapper">
                <ul class="portfolio_tabs">
                    <li><a href="#tab1" class="tab">мониторинги</a></li>
                    <li><a href="#tab2" class="tab">Бусты</a></li>
                    <li><a href="#tab3" class="tab">Сайты скачки</a></li>
                    <li><a href="#tab4" class="tab">Не игровые сайты</a></li>
                    <li><a href="#tab5" class="tab">мониторинги</a></li>
                </ul>
                <div id="tab1">
                <div class="carousel">
                    <ul class="items">
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-1" title="Название 1" href="{% static "img/pf_img0.png" %}"><img src="{% static "img/pf_img0.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-2" title="Название 1" href="{% static "img/pf_img1.png" %}"><img src="{% static "img/pf_img1.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-3" title="Название 1" href="{% static "img/pf_img2.png" %}"><img src="{% static "img/pf_img2.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-4" title="Название 1" href="{% static "img/pf_img3.png" %}"><img src="{% static "img/pf_img3.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-5" title="Название 1" href="{% static "img/pf_img4.png" %}"><img src="{% static "img/pf_img4.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-6" title="Название 1" href="{% static "img/pf_img5.png" %}"><img src="{% static "img/pf_img5.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-7" title="Название 1" href="{% static "img/pf_img6.png" %}"><img src="{% static "img/pf_img6.png" %}" alt="" /></a></li>
                    </ul>
                </div>
                </div>
                <div id="tab2">
                <div class="carousel">
                    <ul class="items">
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-1" title="Название 1" href="{% static "img/pf_img0.png" %}"><img src="{% static "img/pf_img0.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-2" title="Название 1" href="{% static "img/pf_img1.png" %}"><img src="{% static "img/pf_img1.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-3" title="Название 1" href="{% static "img/pf_img2.png" %}"><img src="{% static "img/pf_img2.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-4" title="Название 1" href="{% static "img/pf_img3.png" %}"><img src="{% static "img/pf_img3.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-5" title="Название 1" href="{% static "img/pf_img4.png" %}"><img src="{% static "img/pf_img4.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-6" title="Название 1" href="{% static "img/pf_img5.png" %}"><img src="{% static "img/pf_img5.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-7" title="Название 1" href="{% static "img/pf_img6.png" %}"><img src="{% static "img/pf_img6.png" %}" alt="" /></a></li>
                    </ul>
                </div>
                </div>
                <div id="tab3">
                <div class="carousel">
                    <ul class="items">
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-1" title="Название 1" href="{% static "img/pf_img0.png" %}"><img src="{% static "img/pf_img0.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-2" title="Название 1" href="{% static "img/pf_img1.png" %}"><img src="{% static "img/pf_img1.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-3" title="Название 1" href="{% static "img/pf_img2.png" %}"><img src="{% static "img/pf_img2.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-4" title="Название 1" href="{% static "img/pf_img3.png" %}"><img src="{% static "img/pf_img3.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-5" title="Название 1" href="{% static "img/pf_img4.png" %}"><img src="{% static "img/pf_img4.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-6" title="Название 1" href="{% static "img/pf_img5.png" %}"><img src="{% static "img/pf_img5.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-7" title="Название 1" href="{% static "img/pf_img6.png" %}"><img src="{% static "img/pf_img6.png" %}" alt="" /></a></li>
                    </ul>
                </div>
                </div>
                <div id="tab4">
                <div class="carousel">
                    <ul class="items">
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-1" title="Название 1" href="{% static "img/pf_img0.png" %}"><img src="{% static "img/pf_img0.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-2" title="Название 1" href="{% static "img/pf_img1.png" %}"><img src="{% static "img/pf_img1.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-3" title="Название 1" href="{% static "img/pf_img2.png" %}"><img src="{% static "img/pf_img2.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-4" title="Название 1" href="{% static "img/pf_img3.png" %}"><img src="{% static "img/pf_img3.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-5" title="Название 1" href="{% static "img/pf_img4.png" %}"><img src="{% static "img/pf_img4.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-6" title="Название 1" href="{% static "img/pf_img5.png" %}"><img src="{% static "img/pf_img5.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-7" title="Название 1" href="{% static "img/pf_img6.png" %}"><img src="{% static "img/pf_img6.png" %}" alt="" /></a></li>
                    </ul>
                </div>
                </div>
                <div id="tab5">
                <div class="carousel">
                    <ul class="items">
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-1" title="Название 1" href="{% static "img/pf_img0.png" %}"><img src="{% static "img/pf_img0.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-2" title="Название 1" href="{% static "img/pf_img1.png" %}"><img src="{% static "img/pf_img1.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-3" title="Название 1" href="{% static "img/pf_img2.png" %}"><img src="{% static "img/pf_img2.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-4" title="Название 1" href="{% static "img/pf_img3.png" %}"><img src="{% static "img/pf_img3.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-5" title="Название 1" href="{% static "img/pf_img4.png" %}"><img src="{% static "img/pf_img4.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-6" title="Название 1" href="{% static "img/pf_img5.png" %}"><img src="{% static "img/pf_img5.png" %}" alt="" /></a></li>
                        <li><a class="fancybox-thumb" rel="fancybox-thumb-7" title="Название 1" href="{% static "img/pf_img6.png" %}"><img src="{% static "img/pf_img6.png" %}" alt="" /></a></li>
                    </ul>
                </div>
                </div>
                </div>
        </section>

        <section id="service">
            <div class="container">
                <h2 class="title">Сервисы</h2>
                <ul class="service_info">
                    <li class="first"><img src="{% static "img/service_img1.png" %}" alt="" /><span><strong>Easy Def</strong>Сервис по защите владельцев Мастер-Серверов от мошенничества<a href="#" class="btn-more">Подробнее</a></span></li>
                    <li class="second"><img src="{% static "img/service_img2.png" %}" alt="" /><span><strong>Stats.Easy</strong>Сервис по проверке и сборке статистики <br>Мастер-Серверов<a href="#" class="btn-more">Подробнее</a></span></li>
                </ul>
            </div>
        </section>

        <section id="reviews">
            <div class="container">
                <h2 class="title">Отзывы</h2>
                <ul class="list_reviews">
                    <li><span><img src="{% static "img/rev_img1.png" %}" alt="" /><strong>Джон Траволта</strong><em>20.12.2015</em></span><i>Как-то, насмотревшись на наших партнеров, которые предоставляли раскрутку для Vifort – владельцев мониторингов, Павлу захотелось сделать свой собственный. Так как делать что-то среднее или по шаблону мы не умеем, то начали разработку своего <p class="full_reviews"> Как-то, насмотревшись на наших партнеров, которые предоставляли раскрутку для Vifort – владельцев мониторингов, Павлу захотелось сделать свой собственный. Так как делать что-то среднее или по шаблону мы не умеем, то начали разработку своего</p></i><a class="togle" href="javascript:void(0);"><q>Развернуть</q><b>Свернуть</b></a></li>
                    <li><span><img src="{% static "img/rev_img2.png" %}" alt="" /><strong>Стив Джобс</strong><em>20.12.2015</em></span><i>Как-то, насмотревшись на наших партнеров, которые предоставляли раскрутку для Vifort – владельцев мониторингов, Павлу захотелось сделать свой собственный. Так как делать что-то среднее или по шаблону мы не умеем, то начали разработку своего <p class="full_reviews"> Как-то, насмотревшись на наших партнеров, которые предоставляли раскрутку для Vifort – владельцев мониторингов, Павлу захотелось сделать свой собственный. Так как делать что-то среднее или по шаблону мы не умеем, то начали разработку своего</p></i><a class="togle" href="javascript:void(0);"><q>Развернуть</q><b>Свернуть</b></a></li>
                    <li><span><img src="{% static "img/rev_img3.png" %}" alt="" /><strong>Джордж Клуни</strong><em>20.12.2015</em></span><i>Как-то, насмотревшись на наших партнеров, которые предоставляли раскрутку для Vifort – владельцев мониторингов, Павлу захотелось сделать свой собственный. Так как делать что-то среднее или по шаблону мы не умеем, то начали разработку своего <p class="full_reviews"> Как-то, насмотревшись на наших партнеров, которые предоставляли раскрутку для Vifort – владельцев мониторингов, Павлу захотелось сделать свой собственный. Так как делать что-то среднее или по шаблону мы не умеем, то начали разработку своего</p></i><a class="togle" href="javascript:void(0);"><q>Развернуть</q><b>Свернуть</b></a></li>
                    <li><span><img src="{% static "img/rev_img4.png" %}" alt="" /><strong>Селена Гомез</strong><em>20.12.2015</em></span><i>Как-то, насмотревшись на наших партнеров, которые предоставляли раскрутку для Vifort – владельцев мониторингов, Павлу захотелось сделать свой собственный. Так как делать что-то среднее или по шаблону мы не умеем, то начали разработку своего <p class="full_reviews"> Как-то, насмотревшись на наших партнеров, которые предоставляли раскрутку для Vifort – владельцев мониторингов, Павлу захотелось сделать свой собственный.. Так как делать что-то среднее или по шаблону мы не умеем, то начали разработку своего</p></i><a class="togle" href="javascript:void(0);"><q>Развернуть</q><b>Свернуть</b></a></li>
                </ul>
                <div class="reviews_links">
                    <a href="#" class="btn-more">Все отзывы</a>
                </div>
            </div>
        </section>

{% endblock %}