{% extends "main/wrapper.html" %}

{% block content %}
    {% load static %}
        <nav>
            <div class="container">
                {% load static %}
                <h1 class="logo"><a href="/"></a></h1>
                <ul class="menu">
                    <li class="mon"><a href="/monitoring">Мониторинги</a></li>
                    <li class="boost"><a href="/boost">Буст</a></li>
                    <li class="server"><a href="/masterserver">МастерСервер</a></li>
                    <li class="build"><a href="/">Сборки</a></li>
                    <li class="download"><a href="/">Сайт скачки</a></li>
                </ul>
            </div>
        </nav>

    <section id="portfolio">
        	<h4 class="breadcrumbs">Главная /</h4>
            <h2 class="title">Продукты</h2>  
            <div class="wrapper">
            <ul class="portfolio_tabs">
            	<li><a href="#tab1" class="tab">мониторинги</a></li>
                <li><a href="#tab2" class="tab">Бусты</a></li>
                <li><a href="#tab3" class="tab">Сайты скачки</a></li>
                <li><a href="#tab4" class="tab">Не игровые сайты</a></li>
                <li><a href="#tab5" class="tab">мониторинги</a></li>
            </ul>
            <div id="tab1">
            <div class="carousel">
            	<ul class="items noslide">
                	<li><a class="fancybox-thumb" rel="fancybox-thumb" title="Название 1" href="{% static 'img/pf_img0.png' %}"><img src="{% static 'img/pf_img0.png' %}" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb" title="Название 1" href="{% static 'img/pf_img2.png' %}"><img src="{% static 'img/pf_img2.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb" title="Название 1" href="{% static 'img/pf_img3.png' %}"><img src="{% static 'img/pf_img3.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb" title="Название 1" href="{% static 'img/pf_img4.png' %}"><img src="{% static 'img/pf_img4.png' %}" alt="" /></a>
                    </span></li>                                                              
                	<li><a class="fancybox-thumb" rel="fancybox-thumb-2" title="Название 1" href="{% static 'img/pf_img1.png' %}"><{% static 'img src="img/pf_img1.png' %}" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-2" title="Название 1" href="{% static 'img/pf_img2.png' %}"><img src="{% static 'img/pf_img2.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-2" title="Название 1" href="{% static 'img/pf_img3.png' %}"><img src="{% static 'img/pf_img3.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-2" title="Название 1" href="{% static 'img/pf_img4.png' %}"><img src="{% static 'img/pf_img4.png' %}" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-3" title="Название 1" href="{% static 'img/pf_img2.png' %}"><img src="{% static 'img/pf_img2.png' %}" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-3" title="Название 1" href="{% static 'img/pf_img2.png' %}"><img src="{% static 'img/pf_img2.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-3" title="Название 1" href="{% static 'img/pf_img3.png' %}"><img src="{% static 'img/pf_img3.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-3" title="Название 1" href="{% static 'img/pf_img4.png' %}"><img src="{% static 'img/pf_img4.png' %}" alt="" /></a>
                    </span></li>
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-4" title="Название 1" href="{% static 'img/pf_img3.png' %}"><img src="{% static 'img/pf_img3.png' %}" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-4" title="Название 1" href="{% static 'img/pf_img2.png' %}"><img src="{% static 'img/pf_img2.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-4" title="Название 1" href="{% static 'img/pf_img3.png' %}"><img src="{% static 'img/pf_img3.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-4" title="Название 1" href="{% static 'img/pf_img4.png' %}"><img src="{% static 'img/pf_img4.png' %}" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-5" title="Название 1" href="{% static 'img/pf_img4.png' %}"><img src="{% static 'img/pf_img4.png' %}" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-5" title="Название 1" href="{% static 'img/pf_img2.png' %}"><img src="{% static 'img/pf_img2.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-5" title="Название 1" href="{% static 'img/pf_img3.png' %}"><img src="{% static 'img/pf_img3.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-5" title="Название 1" href="{% static 'img/pf_img4.png' %}"><img src="{% static 'img/pf_img4.png' %}" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-6" title="Название 1" href="{% static 'img/pf_img5.png' %}"><{% static 'img src="img/pf_img5.png' %}" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-6" title="Название 1" href="{% static 'img/pf_img2.png' %}"><img src="{% static 'img/pf_img2.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-6" title="Название 1" href="{% static 'img/pf_img3.png' %}"><img src="{% static 'img/pf_img3.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-6" title="Название 1" href="{% static 'img/pf_img4.png' %}"><img src="{% static 'img/pf_img4.png' %}" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-7" title="Название 1" href="{% static 'img/pf_img6.png' %}"><img src="{% static 'img/pf_img6.png' %}" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-7" title="Название 1" href="{% static 'img/pf_img2.png' %}"><img src="{% static 'img/pf_img2.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-7" title="Название 1" href="{% static 'img/pf_img3.png' %}"><img src="{% static 'img/pf_img3.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-7" title="Название 1" href="{% static 'img/pf_img4.png' %}"><img src="{% static 'img/pf_img4.png' %}" alt="" /></a>
                    </span></li>
                </ul>
            </div> 
            </div>
            <div id="tab2">
            <div class="carousel">
            	<ul class="items noslide">
                	<li><a class="fancybox-thumb" rel="fancybox-thumb-8" title="Название 1" href="{% static 'img/pf_img0.png' %}"><img src="{% static 'img/pf_img0.png' %}" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-8" title="Название 1" href="{% static 'img/pf_img2.png' %}"><img src="{% static 'img/pf_img2.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-8" title="Название 1" href="{% static 'img/pf_img3.png' %}"><img src="{% static 'img/pf_img3.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-8" title="Название 1" href="{% static 'img/pf_img4.png' %}"><img src="{% static 'img/pf_img4.png' %}" alt="" /></a>
                    </span></li>                                                              
                	<li><a class="fancybox-thumb" rel="fancybox-thumb-9" title="Название 1" href="{% static 'img/pf_img1.png' %}"><img src="{% static 'img/pf_img1.png' %}" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-9" title="Название 1" href="{% static 'img/pf_img2.png' %}"><img src="{% static 'img/pf_img2.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-9" title="Название 1" href="{% static 'img/pf_img3.png' %}"><img src="{% static 'img/pf_img3.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-9" title="Название 1" href="{% static 'img/pf_img4.png' %}"><img src="{% static 'img/pf_img4.png' %}" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-10" title="Название 1" href="{% static 'img/pf_img2.png' %}"><img src="{% static 'img/pf_img2.png' %}" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-10" title="Название 1" href="{% static 'img/pf_img2.png' %}"><img src="{% static 'img/pf_img2.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-10" title="Название 1" href="{% static 'img/pf_img3.png' %}"><img src="{% static 'img/pf_img3.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-10" title="Название 1" href="{% static 'img/pf_img4.png' %}"><img src="{% static 'img/pf_img4.png' %}" alt="" /></a>
                    </span></li>
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-11" title="Название 1" href="{% static 'img/pf_img3.png' %}"><img src="{% static 'img/pf_img3.png' %}" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-11" title="Название 1" href="{% static 'img/pf_img2.png' %}"><img src="{% static 'img/pf_img2.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-11" title="Название 1" href="{% static 'img/pf_img3.png' %}"><img src="{% static 'img/pf_img3.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-11" title="Название 1" href="{% static 'img/pf_img4.png' %}"><img src="{% static 'img/pf_img4.png' %}" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-12" title="Название 1" href="{% static 'img/pf_img4.png' %}"><img src="{% static 'img/pf_img4.png' %}' %}" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-12" title="Название 1" href="{% static 'img/pf_img2.png' %}"><img src="{% static 'img/pf_img2.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-12" title="Название 1" href="{% static 'img/pf_img3.png' %}"><img src="{% static 'img/pf_img3.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-12" title="Название 1" href="{% static 'img/pf_img4.png' %}"><img src="{% static 'img/pf_img4.png' %}" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-13" title="Название 1" href="{% static 'img/pf_img5.png' %}"><img src="{% static 'img/pf_img5.png' %}" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-13" title="Название 1" href="{% static 'img/pf_img2.png' %}"><img src="{% static 'img/pf_img2.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-13" title="Название 1" href="{% static 'img/pf_img3.png' %}"><img src="{% static 'img/pf_img3.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-13" title="Название 1" href="{% static 'img/pf_img4.png' %}"><img src="{% static 'img/pf_img4.png' %}" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-14" title="Название 1" href="{% static 'img/pf_img6.png' %}"><img src="{% static 'img/pf_img6.png' %}" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-14" title="Название 1" href="{% static 'img/pf_img2.png' %}"><img src="{% static 'img/pf_img2.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-14" title="Название 1" href="{% static 'img/pf_img3.png' %}"><img src="{% static 'img/pf_img3.png' %}" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-14" title="Название 1" href="{% static 'img/pf_img4.png' %}"><img src="{% static 'img/pf_img4.png' %}" alt="" /></a>
                    </span></li>
                </ul>
            </div> 
            </div>
            <div id="tab3">
            <div class="carousel">
            	<ul class="items noslide">
                	<li><a class="fancybox-thumb" rel="fancybox-thumb-15" title="Название 1" href="img/pf_img0.png"><img src="img/pf_img0.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-15" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-15" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-15" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>                                                              
                	<li><a class="fancybox-thumb" rel="fancybox-thumb-16" title="Название 1" href="img/pf_img1.png"><img src="img/pf_img1.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-16" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-16" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-16" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-17" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-17" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-17" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-17" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-18" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-18" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-18" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-18" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-19" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-19" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-19" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-19" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-20" title="Название 1" href="img/pf_img5.png"><img src="img/pf_img5.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-20" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-20" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-20" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-21" title="Название 1" href="img/pf_img6.png"><img src="img/pf_img6.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-21" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-21" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-21" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                </ul>
            </div> 
            </div>
            <div id="tab4">
            <div class="carousel">
            	<ul class="items noslide">
                	<li><a class="fancybox-thumb" rel="fancybox-thumb-22" title="Название 1" href="img/pf_img0.png"><img src="img/pf_img0.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-22" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-22" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-22" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>                                                              
                	<li><a class="fancybox-thumb" rel="fancybox-thumb-23" title="Название 1" href="img/pf_img1.png"><img src="img/pf_img1.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-23" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-23" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-23" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-24" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-24" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-24" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-24" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-25" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-25" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-25" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-25" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-26" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-26" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-26" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-26" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-27" title="Название 1" href="img/pf_img5.png"><img src="img/pf_img5.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-27" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-27" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-27" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-28" title="Название 1" href="img/pf_img6.png"><img src="img/pf_img6.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-28" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-28" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-28" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                </ul>
            </div> 
            </div>
            <div id="tab5">
            <div class="carousel">
            	<ul class="items noslide">
                	<li><a class="fancybox-thumb" rel="fancybox-thumb-29" title="Название 1" href="img/pf_img0.png"><img src="img/pf_img0.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-29" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-29" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-29" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>                                                              
                	<li><a class="fancybox-thumb" rel="fancybox-thumb-30" title="Название 1" href="img/pf_img1.png"><img src="img/pf_img1.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-30" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-30" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-30" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-31" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-31" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-31" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-31" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-32" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-32" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-32" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-32" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-33" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-33" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-33" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-33" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-34" title="Название 1" href="img/pf_img5.png"><img src="img/pf_img5.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-34" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-34" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-34" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                    
                    <li><a class="fancybox-thumb" rel="fancybox-thumb-35" title="Название 1" href="img/pf_img6.png"><img src="img/pf_img6.png" alt="" /></a>
                    <span>
                    <a class="fancybox-thumb" rel="fancybox-thumb-35" title="Название 1" href="img/pf_img2.png"><img src="img/pf_img2.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-35" title="Название 1" href="img/pf_img3.png"><img src="img/pf_img3.png" alt="" /></a>
                    <a class="fancybox-thumb" rel="fancybox-thumb-35" title="Название 1" href="img/pf_img4.png"><img src="img/pf_img4.png" alt="" /></a>
                    </span></li>
                </ul>
            </div> 
            </div>
            </div>   
            
    </section>
  <div class="foot-fix"></div>
<footer>

{% endblock %}