{% extends "main/wrapper.html" %}
{% block content %}
    {% load static %}

    <body class="product">
        <section id="products">
            <div class="container">
                <h4 class="breadcrumbs">Главная /</h4>
                <h2 class="title">Продукты</h2>
                <ul class="list_products">
                    <li class="prod_mon"><img class="icon" src="{% static 'img/prod_mon-ico.png' %}" /><div class="preview"><strong>Мониторинги</strong><img src="{% static 'img/p_img1.png' %}" alt=""/><span>Игровые проекты разных направлений и тематик: CS, Rust, MineCraft....</span><a href="#" class="btn-more">Подробнее</a></div>
                    <div class="price">
                    <div class="profitably"><strong>Выгодно</strong><i class="good-ico"></i><hr><p>стоимость проекта:</p><span>от <strong>12 000</strong></span><hr><p>средний годовой доход<br>наших клиентов:</p><span>от <strong>500 000</strong></span></div>

                     <div class="easy"><strong>Легко</strong><i class="easy-ico"></i><hr><p>стоимость проекта:</p><span>от <strong>12 000</strong></span><hr><p>средний годовой доход<br>наших клиентов:</p><span>от <strong>500 000</strong></span></div>

                     <div class="profitably"><strong>Выгодно</strong><i class="good-ico"></i><hr><p>стоимость проекта:</p><span>от <strong>12 000</strong></span><hr><p>средний годовой доход<br>наших клиентов:</p><span>от <strong>500 000</strong></span></div>

                    </div>

                    </li>

                    <li class="prod_boost"><img class="icon" src="{% static 'img/prod_boost-ico.png' %}" />
                    <div class="price">
                    <div class="profitably"><strong>Выгодно</strong><i class="good-ico"></i><hr><p>стоимость проекта:</p><span>от <strong>12 000</strong></span><hr><p>средний годовой доход<br>наших клиентов:</p><span>от <strong>500 000</strong></span></div>

                     <div class="easy"><strong>Легко</strong><i class="easy-ico"></i><hr><p>стоимость проекта:</p><span>от <strong>12 000</strong></span><hr><p>средний годовой доход<br>наших клиентов:</p><span>от <strong>500 000</strong></span></div>

                     <div class="profitably"><strong>Выгодно</strong><i class="good-ico"></i><hr><p>стоимость проекта:</p><span>от <strong>12 000</strong></span><hr><p>средний годовой доход<br>наших клиентов:</p><span>от <strong>500 000</strong></span></div>

                    </div>
                    <div class="preview"><strong>Буст</strong><img src="{% static 'img/p_img2.png' %}" alt=""><span>Игровые проекты разных направлений и тематик: CS, Rust, MineCraft....</span><a href="#" class="btn-more">Подробнее</a></div>

                    </li>


                    <li class="prod_server"><img class="icon" src="{% static 'img/prod_server-ico.png' %}" /><div class="preview"><strong>Мастер сервер</strong><img src="{% static 'img/p_img3.png' %}" alt=""><span>Игровые проекты разных направлений и тематик: CS, Rust, MineCraft....</span><a href="#" class="btn-more">Подробнее</a></div>
                    <div class="price">
                    <div class="profitably"><strong>Выгодно</strong><i class="good-ico"></i><hr><p>стоимость проекта:</p><span>от <strong>12 000</strong></span><hr><p>средний годовой доход<br>наших клиентов:</p><span>от <strong>500 000</strong></span></div>

                     <div class="easy"><strong>Легко</strong><i class="easy-ico"></i><hr><p>стоимость проекта:</p><span>от <strong>12 000</strong></span><hr><p>средний годовой доход<br>наших клиентов:</p><span>от <strong>500 000</strong></span></div>

                     <div class="profitably"><strong>Выгодно</strong><i class="good-ico"></i><hr><p>стоимость проекта:</p><span>от <strong>12 000</strong></span><hr><p>средний годовой доход<br>наших клиентов:</p><span>от <strong>500 000</strong></span></div>

                    </div>

                    </li>


                    <li class="prod_build"><img class="icon" src="{% static 'img/prod_build-ico.png' %}" />
                    <div class="price">
                    <div class="profitably"><strong>Выгодно</strong><i class="good-ico"></i><hr><p>стоимость проекта:</p><span>от <strong>12 000</strong></span><hr><p>средний годовой доход<br>наших клиентов:</p><span>от <strong>500 000</strong></span></div>

                     <div class="easy"><strong>Легко</strong><i class="easy-ico"></i><hr><p>стоимость проекта:</p><span>от <strong>12 000</strong></span><hr><p>средний годовой доход<br>наших клиентов:</p><span>от <strong>500 000</strong></span></div>

                     <div class="profitably"><strong>Выгодно</strong><i class="good-ico"></i><hr><p>стоимость проекта:</p><span>от <strong>12 000</strong></span><hr><p>средний годовой доход<br>наших клиентов:</p><span>от <strong>500 000</strong></span></div>

                    </div>

                    <div class="preview"><strong>Сборки</strong><img src="{% static 'img/p_img4.png' %}" alt=""><span>Игровые проекты разных направлений и тематик: CS, Rust, MineCraft....</span><a href="#" class="btn-more">Подробнее</a></div>
                    </li>

                    <li class="prod_download"><img class="icon" src="{% static 'img/prod_download-ico.png' %}" /><div class="preview"><strong>Сайт скачки</strong><img src="{% static 'img/p_img5.png' %}" alt=""><span>Игровые проекты разных направлений и тематик: CS, Rust, MineCraft....</span><a href="#" class="btn-more">Подробнее</a></div>
                    <div class="price">
                    <div class="profitably"><strong>Выгодно</strong><i class="good-ico"></i><hr><p>стоимость проекта:</p><span>от <strong>12 000</strong></span><hr><p>средний годовой доход<br>наших клиентов:</p><span>от <strong>500 000</strong></span></div>

                     <div class="easy"><strong>Легко</strong><i class="easy-ico"></i><hr><p>стоимость проекта:</p><span>от <strong>12 000</strong></span><hr><p>средний годовой доход<br>наших клиентов:</p><span>от <strong>500 000</strong></span></div>

                     <div class="profitably"><strong>Выгодно</strong><i class="good-ico"></i><hr><p>стоимость проекта:</p><span>от <strong>12 000</strong></span><hr><p>средний годовой доход<br>наших клиентов:</p><span>от <strong>500 000</strong></span></div>

                    </div>

                    </li>

                </ul>
            </div>
        </section>
{% endblock %}