<!DOCTYPE HTML>
<html lang="ru-ru">
<head>
    <meta charset="utf-8">
    <title>ПРОДАЖА мониторингов, клиентов игры CS, сайты под скачку клиента</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.fancybox.css" %}"  type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static "css/jquery.fancybox-thumbs.css" %}" type="text/css" media="screen" %}/>
    <link rel="stylesheet" href="{% static "css/jquery.bxslider.css" %}">
    <script type="text/javascript" src="{% static "js/jquery-1.11.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.bxslider.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.fancybox.pack.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.fancybox-thumbs.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
</head>
<body>
    <header>
    	<div id="top_panel">
        	<div class="container">
            	<div class="login_box">
                	<a href="#" class="login open_popup" rel="popup1">Вход</a>
                </div>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/products">Продукты</a></li>
                    <li><a href="/contacts">Контакты</a></li>
                    <li><a href="/portfolio">Портфолио</a></li>
                    <li><a href="/reviews">Отзывы</a></li>
                    <li><a href="/text-page">Текст</a></li>
                    <li><a href="/account">Аккаунт</a></li>
                </ul>
                <select>
                    <option value="" selected="selected">Пункт меню</option>
                    <option value="">Пункт меню</option>
                    <option value="">Пункт меню</option>
                    <option value="">Пункт меню</option>
                    <option value="">Пункт меню</option>
                    <option value="">Пункт меню</option>
                </select>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

<div class="foot-fix formain"></div>
<footer>
    	<div class="container">
            <strong>Появились вопросы?</strong>
            <span>С Радостью на них ответим!</span>
        </div>

        <div class="contacts">
        	<div class="container">
                <ul>
                    <li class="skype">DJon1_ms</li>
                    <li class="mail">778976@gmail.com</li>
                    <li class="icq">625518</li>
                </ul>
            </div>
        </div>

        <div class="copyright">
        	<div class="container">
            	<a href="/" class="m_logo"></a><p><span>©️2012-2020 Все права защищены</span><span>ООО «СетБрейнс»</span></p>
            </div>
        </div>
    </footer>

<div class="overlay"></div>
<div class="popup" id="popup1">
	<span class="close"></span>
    <div class="login">
    	<h2 class="title">вход</h2>
        <form>
        	<label>E-mail:</label>
            <input type="text">
            <label>Пароль:</label>
            <input type="password">
            <div class="login_link">
            <input type="submit" value="войти">
</div>
        </form>
    </div>
</div>
</body>
</html>